version 5.210.1

source https://api.nuget.org/v3/index.json
framework: netstandard2.0
storage: none

nuget FSharp.Core ~> 4.5 >= 4.5.2 redirects: force, lowest_matching: true
nuget Fable.Browser.Dom ~> 1.0
nuget Fable.Core ~> 3.0
nuget Fable.Node ~> 1.0
